/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
}

.welcome-message {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.login-button:active {
  transform: translateY(0);
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Connected Container */
.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 15vh;
  background-color: #f8f9fa;
}

.connected-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border: 5px solid #333;
  padding: 5px;
  color: #333;
}

.connected-account {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

.candidates-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidates-table th, .candidates-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.candidates-table tr:hover {
  background-color: #f1f1f1;
}

.candidates-table td {
  font-size: 0.9rem;
  color: #555;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.login-button:active {
  transform: translateY(0);
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



/* Inputs */
input[type="number"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .candidates-table {
    width: 90%;
    font-size: 0.9rem;
  }

  .login-button, .connected-button {
    font-size: 1rem;
    padding: 10px 16px;
  }

  .welcome-message, .connected-header {
    font-size: 1.5rem;
  }
}
